[package]
name = "lila-push"
version = "0.1.0"
publish = false
description = "Web push microservice for lichess.org"
repository = "https://github.com/niklasf/lila-push"
readme = "README.md"
license = "AGPL-3.0+"
authors = ["Niklas Fiekas <niklas.fiekas@backscattering.de>"]
edition = "2018"

[dependencies]
warp = "0.2"
tokio = { version = "0.2", features = ["macros"] }
structopt = "0.3"
web-push = "0.6"
serde = { version = "1.0", features = ["derive"] }
