[Unit]
Description=Web push socket
BindToDevice=sys-subsystem-net-devices-eth1.device

[Socket]
ListenStream=172.16.0.28:9054

[Install]
WantedBy=sockets.target
